@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-220%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


//Modal Animations
@keyframes animate-in {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    100% {  
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}

