.header{
    height: 100vh;
    background-image: url("../../assets/header-back.jpg");
    background-position: center;
    background-size: cover;

    &__content{
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__heading-3{
        margin-top: -1rem;
    }

    &__tags{
        width: 50%;
        margin: 1.2rem auto;
        color: $color-white;
        font-size: 1.4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
        justify-items: center;
        grid-row-gap: 1rem;

        p{
            cursor: auto;
            &:hover{
                border-bottom: 1px solid white;
            }
        }

    }
}

.nav{
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        font-weight: 600;
        font-size: 2.3rem;
        text-transform: uppercase;
        color: $color-white;
        display: flex;
        align-items: center;
        cursor: pointer;

        sup{
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.3rem;
            margin-top: -1rem;
            margin-left: .5rem;
        }

        &::before{
            content: "";
            display: inline-block;
            width: 3.5rem;
            height: 3.5rem;
            margin-right: .7rem;
            background-color: $color-blue-light;
                    -webkit-mask-image: url(../../assets/SVG/location.svg);
                    mask-image: url(../../assets/SVG/location.svg);
                    -webkit-mask-size: cover;
                    mask-size: cover;
        }
    }

    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:not(:last-child){
            margin-right: 4rem;
        }

        &::after{
            content: "";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin-left: .7rem;
            vertical-align: middle;
            background-color: $color-blue-light;
                    -webkit-mask-image: url(../../assets/SVG/chevron-small-down.svg);
                    mask-image: url(../../assets/SVG/chevron-small-down.svg);
                    -webkit-mask-size: cover;
                    mask-size: cover;
        }
    }

    &__item:hover &__link{
        color: $color-blue-light;
    }

    &__item:hover .dropdown{
        top: 5rem;
        opacity: 1;
        pointer-events: all;
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color: $color-white;
            transition: all .3s;
        }
    }

    &__signup{
        display: flex;
        align-items: center;
        &:link,
        &:visited{
            text-decoration: none;
            color: $color-white;
        }

        &::before{
            content: "";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            vertical-align: middle;
            background-color: $color-blue-light;
                    -webkit-mask-image: url(../../assets/SVG/add-user.svg);
                    mask-image: url(../../assets/SVG/add-user.svg);
                    -webkit-mask-size: cover;
                    mask-size: cover;
        }
    }
}

.dropdown {
    display: block;
    position: absolute;
    top: 8rem;
    right: -1.6rem;
    width: 22rem;
    padding: 1.5rem 3rem;
    list-style: none;
    background-color: $color-white;
    border: 1px solid rgba(232, 232, 232, 0.8);
    border-top-color: rgba(232, 232, 232, 0.5);
    border-left-color: rgba(232, 232, 232, 0.5);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    z-index: 10;

    &__item{
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }

    &__link{
        text-decoration: none;
        color: #444;
        transition: all .1s;
        display: block;

        &:hover{
            color: $color-blue-light;
        }
    }

    &::before{
        content: "";
        position: absolute;
        top: -1rem;
        right: 1.6rem;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 4rem;
        top: -3rem;
    }
}