.form{
    background-color: $color-white;
    border-radius: 100px;
    padding: .3rem;
    padding-left: 3rem;
    max-width: 85%;
    margin: 3.5rem auto 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-gap: 1.5rem;

    &__control{
        background:none;
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 1.6rem;
        &::-webkit-calendar-picker-indicator{
            display: none;
        }

        &::placeholder{
            color: #444;
        }
    }

    datalist {
        
    }
}