//Custom Select
.custom-select{
    position: relative;
    &__selected{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.4rem 3rem;
        border: 1px solid $color-grey-light;
        outline: none;
        background: none;
        border-radius: 100px;
        cursor: pointer;
        margin-bottom: 1.8rem;
        &::after{
            content: "";
        }
    }
    &__options{
        list-style: none;
        background-color: $color-white;
        padding: 1rem 2rem;
        border-radius: 5px;
        color: $color-blue-dark;
        position: absolute;
        width: 100%;
        z-index: 20;
    }
    &__option{
        cursor: pointer;
        transition: all .2s;
        &:not(:last-child){
            margin-bottom: 1rem;
        }
        &:hover{
            color: $color-blue-light;
        }
    }

}

// .select{
//     &__selected{
//         color: $color-blue-dark;
//         font-size: 1.7rem;
//         border-radius: 100px;
//         padding: 1rem 2rem 1rem 3rem;
//         ;position: relative;
//         cursor: pointer;

//     }
// }