.dropdown {
    display: block;
    position: absolute;
    top: 8rem;
    right: -1.6rem;
    width: 22rem;
    padding: 1.5rem 3rem;
    list-style: none;
    background-color: $color-white;
    border: 1px solid rgba(232, 232, 232, 0.8);
    border-top-color: rgba(232, 232, 232, 0.5);
    border-left-color: rgba(232, 232, 232, 0.5);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    z-index: 10;

    &__item{
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }

    &__link{
        text-decoration: none;
        color: #444;
        transition: all .1s;
        display: block;

        &:hover{
            color: $color-blue-light;
        }
    }

    &::before{
        content: "";
        position: absolute;
        top: -1rem;
        right: 1.6rem;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 4rem;
        top: -3rem;
    }
}