.works{
    background-color: $color-white;
    &__steps{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 5rem;
    }


    &__step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__photo{
        position: relative;
    }
    
    &__img{
        width: 12rem;
        height: 12rem;
        display: block;
        margin-bottom: 2rem;
    }
    &__index{
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-blue-light;
        color: $color-white;
        padding: .6rem 1.4rem;
        border-radius: 50%;
        border: 2px solid $color-white;
    }
}